@mixin section-properties-light() {
	background-color: $background-colour;
	color: $text-colour;
}

@mixin section-properties-dark() {
	background-color: darken($background-colour, 30%);
	color: darken($text-colour, 30%);
}