.contact {
	@include section-properties-light();
}

.contact-form {
	margin-top: 10px;

	.contact-input, .contact-textarea {
		display: block;
		margin-bottom: 20px;
		width: 40%;
	}

	.contact-textarea {
		height: 10em;
	}

	.submit {
		width: 20%;
	}
}