header {
	@include section-properties-light();
	padding: 0;
	position: fixed;
	width: 100vw;
	height: $header-height;
	z-index: 1000;
	top: 0;

	img {
		float: left;
		margin: $header-img-margin auto $header-img-margin 15px;
		height: $header-img-dimensions;
		width: $header-img-dimensions;

		display: inline-block;
		vertical-align: middle;
	}
}

.nav-list {
	list-style: none;
	margin-right: 15px;

	li {
		float: right;
		padding: 15px;
	}

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: white;
		}
	}
}
