.portfolio {
	@include section-properties-dark();
	padding: 20px 0 0 0;
	overflow: hidden;

	.container {
		width: 60%;
		margin: 0 auto;
	}
}


.portfolio-block {
	float: left;
	margin: 10px;
	width: calc(50% - 40px);

	.portfolio-block-title {
		font-weight: bold;
		font-size: 1.2em;
	}
}
