.subheader {
	margin-top: $header-height;
	background-image: url("../img/subheader-img.jpg");
	background-size: cover;
	width: 100vw;
	height: calc(100vw * 0.66);
	position: relative;

}

.portrait {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -125px 0 0 -125px;
	overflow: hidden;
}